/* common style */
@import '~bootstrap/scss/bootstrap';

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-main {
    flex-grow: 1;
}

.canvas {
    display: block;
    width: 800px;
    border: 2px solid blue;
}